{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 mt-3">
                <h2 class="logo-font">Shopping Cart{% if cart_items %} ({{ cart_items|length }}){% endif %}</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                {% if cart_items %}
                    <div class="d-block d-md-none">
                        {% for item in cart_items %}
                            <div class="row">
                                <div class="col-6 mb-2">
                                        {% include "cart/product-image.html" %}
                                </div>
                                <div class="col-6">
                                    {% include "cart/product-info.html" %}
                                </div>
                                <div class="col-6 mt-2">
                                    {% include "cart/quantity-form.html" %}
                                    <button class="btn-block update-link btn product-edit-link text-orange" aria-label="Update cart"><small>Update</small></button>
                                </div>
                                <div class="col-6 order-sm-last">
                                    <p class="my-0 text-orange">Price Each: <span class="d-block float-right">€{{ item.product.price }}</span></p>
                                    <p class="text-orange mb-o8"><strong>Subtotal: </strong><span class="d-block float-right">€{{ item.product.price | calc_subtotal:item.quantity }}</span></p>
                                    <button class="remove-item btn product-edit-link text-danger float-right my-0" aria-label="Remove item from cart" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                {% include "cart/cart-total.html" %}
                                {% include "cart/checkout-buttons.html" %}
                            </div>
                        </div>
                        <div class="btt-button shadow-sm btn-trans">
                            <a class="btt-link d-flex h-100" aria-label="Back to top">
                                <i class="fas fa-arrow-up mx-auto my-auto"></i>
                            </a>
                        </div>
                    </div>
                    <div class="d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-white">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Details</th>
                                    <th scope="col" class="text-center">Price</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col" class="text-right">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="py-3">
                                        {% include "cart/product-image.html" %}
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "cart/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 text-orange text-center">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        {% include "cart/quantity-form.html" %}
                                            <button class="btn-block update-link btn product-edit-link text-orange" aria-label="Update cart"><small>Update</small></button>
                                    </td>
                                    <td class="py-3 text-right">
                                        <p class="my-0 text-orange">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        <button class="remove-item btn product-edit-link text-danger" aria-label="Remove item from cart" title="Remove item from cart" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><i class="fas fa-times"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "cart/cart-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "cart/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your cart is empty.</p>
                    <div class="col col-md-6 col-lg-4">
                        <a href="{% url 'products' %}" class="btn btn-grey btn-lg btn-block" aria-label="Browse products">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Find the perfect pair</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    //  Update product quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })
    /**
     * Function to remove item and reload on click
     * Gets to csrf token as a string, the item id by using split with id attr
     * posts data to the url and reloads page to reflect updated cart.
     */
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let url = `/cart/remove/${itemId}/`;

        // The field expected by Django when form is posted to server
        let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}