<!-- The cart page. Credit to Code Institute's Boutique Ado project for a large portion of this page. -->

{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block extra_title %}My Cart{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 mt-3">
            <h2 class="logo-font">Shopping Cart{% if cart_items %} ({{ cart_items|length }}){% endif %}</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <!-- Display cart items if there are any -->
            {% if cart_items %}
            <!-- Two different displays, this one for mobile is hidden for larger screens. -->
            <div class="d-block d-md-none">
                        {% for item in cart_items %}
                            <div class="row">
                                <!-- load elements from the other pages -->
                                <div class="col-6 mb-2">
                                        {% include "cart/product-image.html" %}
                                </div>
                                <div class="col-6">
                                    {% include "cart/product-info.html" %}
                                </div>
                                <div class="col-6 mt-2">
                                    {% include "cart/quantity-form.html" %}
                                    <button class="btn-block update-link btn product-edit-link text-orange" aria-label="Update cart"><small>Update</small></button>
                                </div>
                                <div class="col-6 order-sm-last">
                                    <p class="my-0 text-orange">Price Each: <span class="d-block float-right">€{{ item.product.price }}</span></p>
                                    <p class="text-orange mb-o8"><strong>Subtotal: </strong><span class="d-block float-right">€{{ item.product.price | calc_subtotal:item.quantity }}</span></p>
                                    <button class="remove-item btn product-edit-link text-danger float-right my-0" aria-label="Remove item from cart" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                <!-- Load total and buttons -->
                                {% include "cart/cart-total.html" %}
                                {% include "cart/checkout-buttons.html" %}
                            </div>
                        </div>
                        <div class="btt-button shadow-sm btn-trans">
                            <label for="back-to-top-link" hidden>Back To Top</label>
                            <a class="btt-link d-flex h-100" id="back-to-top-link">
                                <i class="fas fa-arrow-up mx-auto my-auto"></i>
                            </a>
                        </div>
                    </div>
                    <!-- The second display, for larger screens. -->
                    <div class="d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-white">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Details</th>
                                    <th scope="col" class="text-center">Price</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col" class="text-right">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                            <!-- Loop over the cart items and add the elements from the other pages -->
                                <tr>
                                    <td class="py-3">
                                        {% include "cart/product-image.html" %}
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "cart/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 text-orange text-center">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        {% include "cart/quantity-form.html" %}
                                            <button class="btn-block update-link btn product-edit-link text-orange" aria-label="Update cart"><small>Update</small></button>
                                    </td>
                                    <td class="py-3 text-right">
                                        <p class="my-0 text-orange">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        <button class="remove-item btn product-edit-link text-danger" aria-label="Remove item from cart" title="Remove item from cart" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><i class="fas fa-times"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <!-- Included the total and buttons for larger screens -->
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "cart/cart-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "cart/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <!-- Display if no cart items -->
                    <p class="lead mb-5">Your cart is empty.</p>
                    <div class="col col-md-6 col-lg-4">
                        <a href="{% url 'products' %}" class="btn btn-grey btn-lg btn-block" aria-label="Browse products">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Find the perfect pair</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Javascript files for the page -->
    {% include 'cart/includes/cart_script.html' %}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}