<div class="row mb-4">
    <div class="col-12 col-md-6">
        <a href="{% url 'products' %}" class="btn d-block btn-grey">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
    <div class="col-12 col-md-6">
        <a href="#" class="btn w-100 btn-orange">
            <span class="text-uppercase">Secure Checkout</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>