<div class="row mb-4 justify-content-end">
    <div class="col-12 col-md-6 col-lg-3 p-md-2">
        <a href="{% url 'products' %}" class="btn d-block btn-grey" aria-label="To All Products">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Browse More</span>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 order-first order-md-last p-3 p-md-2">
        <a href="{% url 'checkout' %}" class="btn-block btn btn-orange" aria-label="To Checkout">
            <span>Secure Checkout</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>