{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Your Go To Online Shoe Store{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-12 mx-auto px-0">

                    {% include 'includes/carousel.html' %}

                <div class="my-5">
                    <h4 class="text-center">
                        <a href="{% url 'products' %}" class="btn btn-orange btn-lg">Browse products</a>
                    </h4>
                </div>
                <section class="row w-100 mx-auto">
                <div class="col col-md-8 text-center mx-auto my-5">
                    <h4>Our Philosophy</h4>
                    <p>
                        We strive to offer the best possible selection of branded footwear on the market.
                        Through our continuous research and environmental work, we can assure you that the
                        products at StepUp will ease you conscience as well as you soles.
                    </p>
                </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}