<!-- Modal to confirm product deletion for admin users -->

<!-- If on the product page, several modals are on the same page, so need to pass the instance id to the modal so each elements id is unique -->
<div class="modal fade" id="deleteProductModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalTitle_{{ product.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-orange font-weight-bold" id="deleteProductModalTitle_{{ product.id }}">Delete Product</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-shadow">Are you sure you want to delete <strong><i class="text-orange">{{ product.name }}</i></strong>?</p>
            </div>
            <div class="modal-footer">
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <button type="button" class="btn btn-grey btn-block text-shadow mt-2" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-12 col-md-6">
                    <!-- Deletes the product in question -->
                    <a role="button" href="{% url 'delete_product' product.id %}" class="btn btn-red btn-block text-shadow mt-2">Delete Product</a>
                </div>
            </div>
        </div>
    </div>
</div>