<div class="modal fade" id="wrongPriceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-orange font-weight-bold" id="priceModalTitle">Invalid Value</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-shadow">The Initial Price field is if item is on sale. If filled in, the value for Initial Price must be higher than the Price.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey text-white text-shadow" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>