{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}My StepUp{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h2 class="logo-font">My StepUp</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="text-orange my-4">My Wishlist ({{ wishlist_items|length}})</h3>
                {% if not wishlist_items %}
                    <p class="text-white">No items in your Wishlist</p>
                {% else %}
                    <div class="row wishlist">
                        {% for item in wishlist_items %}
                            <div class="product-height col-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="card h-lg-100">
                                    <a class="products-link" href="{% url 'product_detail' item.id %}">
                                        <p class="mb-0 product-title text-orange">{{ item.name }}</p>
                                        {% if item.discount %}
                                            <small class="sale-label text-shadow mt-3">Save €{{ item.discount }}!</small>
                                        {% endif %}
                                        {% if item.is_new %}
                                            <small class="sale-label text-shadow label-new{% if item.discount %} lower-label{% else %} mt-3{% endif %}">NEW!</small>
                                        {% endif %}
                                    {% if item.image %}
                                        <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                                        {% else %}
                                        <div class="card-img-top img-fluid bg-white mb-1 py-3">
                                            <p class="text-center text-muted py-2">
                                                <i class="fas fa-exclamation-circle py-2 py-md-4"></i>
                                                <br>
                                                <small>No Image Available</small>
                                            </p>
                                        </div>
                                    {% endif %}
                                    </a>
                                    <div class="card-body pb-0 pt-2">
                                    </div>
                                    <div class="card-footer pt-0 border-0">
                                        <div class="row">
                                            <div class="col-6 px-0 text-left">
                                                <p class="text-orange lead mb-0">
                                                    <span class="font-weight-bold">€{{ item.price }}</span>
                                                </p>
                                            </div>
                                            <div class="col-6 px-0 text-right">
                                                <small class="ml-3">
                                                    <!-- Button triggers the remove from wishlist product modal -->
                                                    <button type="button" class="btn product-edit-link text-danger" data-toggle="modal" data-target="#removeFromWishListModal{{ item.id }}">
                                                        Remove
                                                    </button>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Wishlist remove modal -->
                            {% include 'profiles/includes/remove_from_wishlist_modal.html' %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mt-4">
                <h4 class="text-orange my-3">Default Delivery Information</h4>
                <form class="mt-3" action="{% url 'my_stepup' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="col-12 col-lg-6 ml-auto p-0">
                        <button class="mb-3 btn btn-orange btn-block">Update Information</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-6 mt-4">
                <h4 class="text-orange my-3">Order History</h4>
                {% if orders %}
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th class="align-top text-orange">Order Nr</th>
                                    <th class="align-top text-orange">Date</th>
                                    <th class="align-top text-orange">Items</th>
                                    <th class="align-top text-orange">Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a class="text-white" href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td class="text-white">{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled text-white">
                                                {% for item in order.lineitems.all %}
                                                    <li class="small text-white">
                                                        {{ item.product.name|truncatechars:20 }} 
                                                        <span class="float-right">{% if item.product_size != 'N/A' %}Size {{ item.product_size }} {% endif %}x {{ item.quantity }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td class="text-orange">€{{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="my-3">You haven't placed any orders yet.</p>
                {% endif %}
            </div>
            <div class="col-12">
                <hr>
                <h4 class="text-danger font-weight-bold my-3 text-center">Danger Area</h4>
            </div>
            <div class="col-12 col-md-6 text-center mx-auto">
                        <a href="{% url 'delete_account' request.user.id %}" class="btn btn-red btn-block">Delete Account</a>
                        <p class="text-center mt-3 mt-md-0">This operation is irriversible!</p>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}