{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font">My StepUp</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="text-orange my-4">My Wishlist</h3>
                {% if not wishlist_items %}
                    <p class="text-white">No items in your Wishlist</p>
                {% else %}
                    <div class="row">
                        {% for item in wishlist_items %}
                            <div class="product-height col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100">
                                    <a class="products-link" href="{% url 'product_detail' item.id %}">
                                        <p class="mb-0 product-title text-orange">{{ item.name }}</p>
                                        {% if item.discount %}
                                            <p class="sale-label text-shadow">Save €{{ item.discount }}!</p>
                                        {% endif %}
                                        {% if item.is_new %}
                                            <p class="sale-label text-shadow label-new{% if item.discount %} lower-label{% endif %}">NEW!</p>
                                        {% endif %}
                                    {% if item.image %}
                                        <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                                        {% else %}
                                        <div class="card-img-top img-fluid bg-white mb-1 py-3">
                                            <p class="text-center text-muted py-2">
                                                <i class="fas fa-exclamation-circle py-2 py-md-4"></i>
                                                <br>
                                                <small>No Image Available</small>
                                            </p>
                                        </div>
                                    {% endif %}
                                    </a>
                                    <div class="card-body pb-0 pt-2">
                                    </div>
                                    <div class="card-footer pt-0 border-0">
                                        <div class="row">
                                            <div class="col-6 px-0 text-left">
                                                <p class="text-orange lead mb-0">
                                                    {% if item.initial_price %}
                                                        <small><del class="text-muted">€{{ item.initial_price }} </del></small>
                                                    {% endif %}
                                                    <span class="font-weight-bold">€{{ item.price }}</span>
                                                </p>
                                            </div>
                                            <div class="col-6 px-0 text-right">
                                                {% if item.rating %}
                                                    <small class="text-orange"><i class="fas fa-star mr-1"></i>{{ item.rating|floatformat:1 }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 px-0 text-left align-self-end">
                                                {% if item.gender or item.category %}
                                                    <p class="small mt-1 mb-0">
                                                        {% if item.gender %}
                                                            <a class="text-orange" href="{% if item.gender == 'u' %}{% url 'products' %}{% else %}{% url 'products' %}?gender={{ item.gender }},u{% endif %}">
                                                                {{ item.get_gender_display }}
                                                            </a> | 
                                                        {% endif %}
                                                        {% if item.category %}
                                                            <a class="text-orange" href="{% url 'products' %}?category={{ item.category.name }}">
                                                                {{ item.category.friendly_name }}
                                                            </a>
                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                            </div>
                                            <div class="col-6 px-0 text-right">
                                                    <small class="ml-3">
                                                        <!-- Button triggers the remove from wishlist product modal -->
                                                        <button type="button" class="btn product-edit-link text-danger" data-toggle="modal" data-target="#removeFromWishListModal{{ item.id }}">
                                                            Remove
                                                        </button>
                                                    </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-sm-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}                        
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            
                            <!-- Delete product modal -->
                            {% include 'profiles/includes/remove_from_wishlist_modal.html' %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-lg-6 mt-4">
                <h4 class="text-orange my-3">Default Delivery Information</h4>
                <form class="mt-3" action="{% url 'my_stepup' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="mb-3 btn btn-orange text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 mt-4">
                <h4 class="text-orange my-3">Order History</h4>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th class="align-top text-orange">Order Nr</th>
                                <th class="align-top text-orange">Date</th>
                                <th class="align-top text-orange">Items</th>
                                <th class="align-top text-orange">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a class="text-white" href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td class="text-white">{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled text-white">
                                            {% for item in order.lineitems.all %}
                                                <li class="small text-white">
                                                    {% if item.item.has_sizes %}
                                                        Size {{ item.item.size }}
                                                    {% endif %}{{ item.item.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="text-orange">€{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}