<!-- Carousel for index.html -->

<div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{% url 'products' %}?news=true">
                <!-- explicit alt attributes for good seo -->
                <img class="d-block w-100" src="{{ MEDIA_URL }}large_heels_feature.jpg" alt="Ladys legs with black heels (link to spring collection)">
                <div class="carousel-caption text-white text-shadow h-50 mx-0 text-left">
                    <h5 class="feature-title">Spring is Here.</h5>
                    <p class="feature-caption text-light-blue">Check out our new collection.</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'products' %}?category=sneakers">
                <!-- explicit alt attributes for good seo -->
                <img class="d-block w-100" src="{{ MEDIA_URL }}large_joseph-barrientos-4qSb_FWhHKs-unsplash.jpg" alt="Closup image of white Nike (link to sneakers)">
                <div class="carousel-caption text-white text-shadow h-50 mx-0 text-right">
                    <h5 class="feature-title">Get Your Gear On.</h5>
                    <p class="feature-caption">The best selection of sneakers yet.</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'products' %}?category=fitness">
                <img class="d-block w-100" src="{{ MEDIA_URL }}large_jakob-owens-JzJSybPFb3s-unsplash.jpg"
                    alt="Red and black Nike (link to fitness shoes)">
                <div class="carousel-caption text-white text-shadow mx-0 text-right text-md-center">
                    <h5 class="feature-title">Sports. Always Trending.</h5>
                    <p class="feature-caption">Run the extra mile with our latest models.</p>
                </div>
            </a>
        </div>
    </div>
    <!-- Controls to view prev or next slide -->
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>