<!-- Order Confirmation page, shown when user has completed an order. Credits: code Institute, Boutique Ado project -->

{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Order Confirmation{% endblock %}

{% block extra_css %}
    <!-- Load extra css -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-3 mw-lg">
                <!-- The confirmation with order details -->
                <h2 class="logo-font">Order Confirmation</h2>
                <hr>
                <p class="my-4">Thank you for your order at StepUp. You will recieve an email confirmation to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row my-5">
            <div class="checkout-col mx-auto mw-lg row">
                <div class="col-12 col-md-6">
                    <div class="order-confirmation-wrapper">
                        <div class="row my-3">
                            <div class="col">
                                <small class="text-orange">Order Info:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 font-weight-bold">Order Nr: <span class="float-right">{{ order.order_number }}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 font-weight-bold">Order Date: <span class="float-right">{{ order.date }}</span></p>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col">
                                <small class="text-orange">Order Details</small>
                            </div>
                        </div>

                        {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <p class="small mb-0 text-orange font-weight-bold">{{ item.product.name }}</p>
                            </div>
                            <div class="col-12 col-md-5 text-md-right">
                                <p class="small mb-0 mr-2">{{ item.quantity }} @ €{{ item.product.price }} each 
                                    {% if item.product_size %}
                                    <span class="ml-2 float-right">Size {{ item.product_size }}</span>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="row my-3">
                            <div class="col">
                                <small class="text-orange">Billing Info</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 font-weight-bold">Order Total: <span class="float-right">€{{ order.order_total }}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 font-weight-bold">Delivery: <span class="mb-0">€{{ order.delivery_cost }}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 my-3">
                                <p class="mb-0 lead text-orange font-weight-bold">Grand Total: <span class="float-right">€{{ order.grand_total }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="order-confirmation-wrapper mb-3">
                        <div class="row my-3">
                            <div class="col">
                                <small class="text-orange">Delivering To:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 font-weight-bold">Full Name: <span class="float-right">{{ order.full_name }}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 font-weight-bold">Address: <span class="float-right">{{ order.street_address1 }}</span></p>
                                {% if order.street_address2 %}<p class="float-right">{{ order.street_address1 }}</p>{% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 text-black font-weight-bold">Town/City: <span class="float-right">{{ order.town_or_city }}</span></p>
                            </div>
                        </div>

                        {% if order.county %}
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 font-weight-bold">County: <span class="float-right">{{ order.county }}</span></p>
                            </div>
                        </div>
                        {% endif %}

                        {% if order.postcode %}
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 text-black font-weight-bold">Postal Code: <span class="float-right">{{ order.postcode }}</span></p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 text-black font-weight-bold">Country<span class="float-right">{{ order.country }}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0 text-black font-weight-bold">Phone Nr: <span class="float-right">{{ order.phone_number }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mw-lg">
			<div class="ml-auto col-12 col-md-6 col-lg-4">
                {% if from_profile %}
                    <a href="{% url 'my_stepup' %}" class="btn btn-block btn-orange">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span>Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-block btn-orange my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-meteor"></i>
                        </span>
                        <span>Find more deals!</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}