html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: url('/media/stars.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #c5c5c5;

    font-family: 'Anaheim', sans-serif;
}

.sign-in-container {
    height: 72vh;
}

.login li {
    list-style-type: none;
}

.login ul {
    padding: 0;
}

.login .alert-danger {
    color: #ffacac;
    text-shadow: 0 0 10px red;
    background: linear-gradient(45deg, #0d152878 50%, #ff00001a 50%);
    border-color: #feabab;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

h1 {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}

h1:hover, a:hover {
    color: #fff !important;
    text-shadow: 0 0 12px #ffaa42b9, 0.5px 0.5px 2px black;
    text-decoration: none;
}

h2, .nav-link {
    font-family: 'Abel', sans-serif;
}

h2.logo-font {
    color: #ffaa42 !important;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-item {
    padding-left: 15px;
}

.nav-item .dropdown-menu {
    margin: 0 15px 0 0;
    padding: 0;
}

.nav-item .dropdown-item {
    padding: .25rem .6rem;
}

.nav-link, .navbar-toggler {
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7), 0.5px 0.5px 2px black;

}

.logo-font.nav-link {
    color: #ffaa42 !important;
}

.logo-font.nav-link:hover,
.logo-font.nav-link:focus {
    color: #fff !important;
    text-shadow: 1px 1px 3px black, 0 0 11px #ffc107;
}

.nav-link:hover, .navbar-toggler:hover {
    color: #ffaa42 !important;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7), 0.5px 0.5px 2px black;
}

a, h1 {
    color:#fff;
    transition: all, .2s ease-in-out;
}

p {
    color: #c5c5c5;
}

.bg-orange {
    background: linear-gradient(#ffaa42b9, #e17c008c);
}

.logo-font {
    text-transform: uppercase;
    font-weight: bold;
}

.main-logo-link {
    width: fit-content;
}

.btn-trans, .input-btn {
    background: linear-gradient(45deg, #2125294a 50%, rgb(21 93 171 / 25%) 50%);
    border: 1px solid #ced4da !important;
    color: white;
}

.btn-trans:hover,
.btn-trans:active,
.btn-trans:focus {
    background-color: linear-gradient(#ffaa42b9, #e17c008c);
    color: #fff;
}

.btn {
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
}

.btn-orange {
    background: linear-gradient(45deg, #9351008c, #e17c008c 50%, #dd8b27b9 50%, #ffa73a);
    color: white;
    border: 1px solid #865d11;
    text-shadow: 0.4px 0.4px 3px black;
}

.btn-grey {
    background: linear-gradient(45deg, #646464b9 50%, #b1b1b18c 50%);
    text-shadow: 0.4px 0.4px 3px black;
    border: 1px solid #282621;
    color: #fff;
}

.btn-grey:hover {
    color: #fff;
    text-shadow: 0 0 8px #ffaa42, 1px 1px 3px black;
    box-shadow: 0 0 5px #ffaa42;
}

.btn-orange:hover, .btn-blue:hover {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px white;
    /* background: linear-gradient(#ffaa42b9, #e17c008c), linear-gradient(150deg, rgba(42, 147, 165, 0.664), rgba(68, 0, 255, 0.589)); */
}

.btn-purple {
    color: #fff;
    text-shadow: 0.4px 0.4px 3px black;
    background: linear-gradient(45deg, #540093b8, #972be98c 50%, #bd65ff8c 50%, #d69fff9c);
    border: 1px solid #3e006c;
}

.btn-blue {
    color: #fff;
    text-shadow: 0.4px 0.4px 3px black;
    background: linear-gradient(45deg, #005693b8, #2b65e98c 50%, #657eff8c 50%, #9fb6ff9c);
    border: 1px solid #00306c;
}

.btn-red {
    background: linear-gradient(45deg, darkred 50%, #af2800 50%);
    color: #fff;
    border: 1px solid darkred;
}

.btn-red:hover {
    background-color: rgb(92, 0, 0);
    color: #fff;
    text-shadow: 0 0 8px #d39191, 1px 1px 15px black;
    box-shadow: 0 0 5px #d39191;
}

.bg-black {
    background: #000 !important;
}

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid #ced4da;
    border-radius: 40px 3px 3px 3px;
}

.btt-button:hover {
    background: linear-gradient(45deg, #e17c00 50%, #ffa73a 50%);
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #738292;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content {
    padding: 15px;
    box-shadow: 0 0 7px black;
    border: 1px solid #ffa500a1;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
}

.allauth-form-inner-content input {
    border: 1px solid #adb5bd;
    margin-top: 20px;
    opacity: .9;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #738292;
}

.allauth-form-inner-content button {
    background-color: #e17c008c;
    transition: all .2s ease-in-out;
}
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: all .2s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    text-shadow: 0 0 5px black;
    color: #fff;
    background-color: rgba(61, 5, 0, 0.521);
    border-color: rgb(255, 255, 255, .5);
}

.allauth-form-inner-content a, footer a {
    color: #ffaa42;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label.text-danger {
    margin-top: 2.25rem !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 3px !important;
    border-color: #dc3545;
    display: inline;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 3px !important;
}


.custom-control {
    display: inline;
    margin: 0 0 0 50px;
}

#filename-product, #filename-brand {
    padding-top: 20px;
}

.form img.rounded {
    object-fit: cover;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .navbar-nav {
        align-items: center;
    }

    .navbar {
        margin: 0 auto !important;
        padding: 0;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar-collapse {
        flex-flow: column;
        opacity: 0;
        /* transition: all .2s ease-in-out; */
    }

    .navbar-collapse.show {
        opacity: 1;
        width: 100%;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */

@media (max-width: 991px) {
    .header-container {
        padding-top: 70px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .nav-link {
        padding: 0.6rem;
        font-size: 1.5rem;
    }

    .nav-link i.fa-lg {
        font-size: 1.2rem;
    }

    .fa-bars {
        padding-top: .45rem;
    }

    .navbar-toggler {
        font-size: 1.5rem;
        border: none;
        transition: all .2s ease-in-out;
        color: #fff !important;
    }

    .navbar-toggler:focus {
        outline: none;
        color: #ffab43 !important;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }


/* PERSONAL STYLES, max-width: 991px */

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .hide-items {
        opacity: 1;
        display: inline-block !important;
        transition: all .2s ease-in-out;
    }

    .hide {
        opacity: 0;
        display: none !important;
    }
    
    .hide-items-2 {
        opacity: 1;
        display: block;
        transition: all .2s ease-in-out;
    }
    
    .hide-2 {
        opacity: 0;
        display: none !important;
    }

    .list-inline-item {
        flex: none;
    }

    .navbar {
        padding: .5rem 0;
    }

    .navbar-expand-lg > li, .navbar-expand-lg > button {
        width: 25%;
    }
}

/* PERSONAL STYLES */

.small-main-header {
    position: absolute;
    z-index: 2;
    left: 5rem;
}

.small-main-header p {
    color: white;
}

.subheading {
    font-family: 'Bungee Hairline', cursive;
    font-size: 1rem;
    color: #fff;
}

.bg-trans-dark {
    background-color: rgba(4, 20, 47, 0.5);
}

.bg-grad-trans-dark {
    background-color: linear-gradient(
        black,
        rgba(0, 21, 48, 0.7),
        transparent
    );
}

.dropdown-menu {
    background-color: transparent;
}

.dropdown-menu.show {
    min-width: 9rem;
    background: linear-gradient(45deg, #04274cbf 50%, #334f6ce6 50%);
    border: 1px solid #df9c4b !important;
    border-radius: 9px;
    color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    backdrop-filter: blur(3px);
    transition: all .2s ease-in-out;
}

.dropdown-item {
    color: #fff;
    text-shadow: 0 0 10px black;
}

.dropdown-item:hover, .dropdown-item:active {
    background-color: #ffab2ea6;
    border-radius: 6px;
    color: #fff;
}

.bg-nav {
    background-color: transparent;
    transition: all .2s ease-in-out;
}

.blur-filter {
    backdrop-filter: blur(2px);
}

div.dropdown-menu.mobile-search {
    border-radius: 0 0 9px 9px;
    background-color: #04142f80;
    border: none !important;
}

button:focus {
    outline: 1px #df9c4b auto;
}

.navbar-expand-lg > li, .navbar-expand-lg > h1 {
    width: 50%;
}

.bg-trans-blue {
    background-color: rgb(57, 102, 128, .4);
    transition: all, .2s ease-in-out;
}

.carousel-indicators {
    width: 8%;
    left: 50%;
    margin-left: -4%;
}

.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: .5rem;
    background-color: #ffab43;

}

.carousel-item a {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.carousel-item a:hover {
    opacity: .7;
}

.logo {
    margin-top: 114px;
}

.shoe-icon {
    opacity: .5;
    height: 40px;
    width: 40px;
    filter: invert(1);
    margin: 0 4px 6px;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}

.dialog {
    border-radius: 10px;
}

.list-inline-item {
    flex: 1;
    text-align: center;
}

.input-group-append .btn:hover,
.input-group-prepend .btn:hover,
.input-group-append .btn:focus,
.input-group-prepend .btn:focus,
.input-group-append .btn:active,
.input-group-prepend .btn:active,
.input-group-append .btn:focus-visible {
    background: linear-gradient(45deg, #9351008c, #e17c008c 50%, #dd8b27b9 50%, #ffa73a);
    text-shadow: 0.4px 0.4px 3px black;
    border: 1px solid #b969068c;
    transition: all .2s ease-in-out;
}

footer {
    padding-bottom: 15px;
}

.feature-title, .feature-caption {
    font-family: Average, sans-serif;
}

.feature-title {
    font-size: 3.5rem;
}

.feature-caption {
    font-size: 1.5rem;
    color: white;
}

.text-shadow {
    text-shadow: 1px 1px 3px black, 0 0 10px black;
}

input, input.form-control, .btn, .custom-select, select.form-control {
    border-radius: 50px;
}

textarea.form-control {
    border-radius: 15px;
}

@media (max-width: 480px) {
    .footer-content {
        margin: 0 auto 20px;
        text-align: center;
    }

    .small-main-header {
        left: 2rem;
        top: 1rem;
    }

    .sign-in-container {
        height: 100vh;
    }

    #carouselIndicators {
        margin-top: 71px;
    }

    .feature-title {
        font-size: 1.5rem;
    }
    
    .feature-caption {
        font-size: 1rem;
        color: white;
    }
    .nav-item {
        line-height: 1.4rem;
    }

    .label-new, .sale-label {
        margin-right: .5rem !important;
        top: 45px !important;
    }
}

@media (min-width: 700px) and (max-height: 1400px) and (max-width: 1024px) and (min-height: 1024px) {
    .allauth-form-inner-content {
        margin: 25% auto;
    }
}


/* PRODUCTS */

.products-link {
    height: 67%;
    max-height: 67%;
    max-width: 100%;
    margin-bottom: 3rem;
}

.card-img-top {
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
}

.product-height {
    height: 400px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.text-orange {
    color: #ffaa42;
}

.card {
    background-color: transparent;
    padding: 8px;
    border: 2px solid transparent;
}

.card, .card img {
    border-radius: 15px;
    margin: 0 auto;
    transition: all .2s ease-in-out;
}

.card p {
    color: #ffaa42;
    transition: all .2s ease-in-out;
}

.product-title {
    height: 48px;
}

.card-footer {
    background-color: transparent;
}

.card:hover,
.card:active,
.card:focus {
    margin: 0 auto !important;
    background-color: rgba(4, 20, 47, 0.5);
    font-weight: bold;
    margin-left: .5px;
    margin-right: .5px;
    box-shadow: 0 0 15px #000;
    border: 2px solid #ffaa4283;

}

.card a, .card p {
    font-weight: 100;
    transition: all .3s ease-in-out;
}

.card:hover p {
    color: #fff;
    text-shadow: 0 0 12px #ffaa42b9, 0.5px 0.5px 2px black;
}

.card:hover a {
    text-shadow: none;
    z-index: 2;
}

.card:hover small a.text-white {
    color: #ffaa42 !important;
}

.card a:hover {
    font-weight: bold;
    text-shadow: 0 0 12px #ffaa42b9, 0.5px 0.5px 2px black;
}

.small {
    color: #fff !important;
}

.product-edit-link {
    padding: 5px;
    line-height: initial;
    border: 1px solid #ffaa421f;
    border-radius: 8px;
    background: transparent;
    transition: all .2s ease-in-out;
}

.product-edit-link:hover {
    border: 1px solid #ffaa42;
}

.product-edit-link.text-danger:hover {
    color: #fff !important;
    border: 1px solid red;
    text-shadow: 0 0 8px red !important;
}

.sale-label {
    color: #fff !important;
    box-shadow: 0 0 10px black;
    background: linear-gradient(24deg, #176a17 50%, #fff 30%, #168516 20%);
    width: fit-content;
    padding: 5px 10px;
    top: 50px;
    border-radius: 20px;
    right: 1px;
    position: absolute;
    z-index: 1;
}

.label-new {
    background: linear-gradient(45deg, #e17c00 50%, #ffa73a 50%);
}

.lower-label {
    top: 92px;
}

.modal-content {
    background-color: #0a1734b0;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid #ffaa42;
}

.modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.modal-header .close {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}

.modal-header .close:hover,
.modal-header .close:active,
.modal-header .close:focus {
    border: 2px solid #ffaa42;
    text-shadow: 0 0 8px #ffaa42, 1px 1px 3px black;
}

.increment-qty:hover:disabled, .decrement-qty:hover:disabled {
    background: transparent;
    border: 1px solid transparent;
    cursor: initial;
}

.fa-heart {
    color: red;
    text-shadow: inset 0 0 3px red;
}

.review-box {
    height: 40vh;
    overflow: scroll;
    border-radius: 15px;
    padding: 10px;
    box-shadow: inset 0 -5px 5px black;
    transition: all .3s ease-in-out;
    border: 1px solid #ffaa4241;
}

.review-box:active,
.review-box:focus,
.review-box:hover {
    box-shadow: inset 0 0 15px 7px black;
    border: 1px solid #ffaa42;
}

.turn-white {
    filter: invert(1);
}

@media (min-width: 992px) and (max-width: 1200px) {
    .logo-font.nav-link {
        font-size: .8rem;
    }
}

@media (max-height: 480px) {
    .logo-font.nav-link {
        font-size: .8rem;
    }

    .navbar-nav {
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-height: 58vh;
    }

    .nav-item.dropdown {
        width: 50%;
    }
}