html {
    height: 100%;
}

body {
    background: url('/media/stars.jpg') no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
    color: #5B84B1FF;
    font-family: 'Anaheim', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

h1 {
    font-family: 'Bungee Hairline', cursive;
    color: rgba(255, 255, 255);
    transition: all .3s;
}

h1:hover {
    color: #FC766AFF;
}

h2, .nav-link {
    font-family: 'Abel', sans-serif;
}

.nav-link {
    font-size: 1.5rem;
}

a {
    color:#ffffffc7;
    transition: color, .3s;
}

a:hover {
    color: #FC766AFF;
}

.logo-font {
    text-transform: uppercase;
    font-weight: bold;
}

.main-logo-link {
    width: fit-content;
    margin-left: -6%;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-trans {
    background-color: transparent;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-trans:hover,
.btn-trans:active,
.btn-trans:focus {
    background-color: rgba(252, 118, 106, 0.699);
    color: white;
}



.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content {
    /* margin: 25% auto; */
    padding: 15px;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border: 1px solid #adb5bd;
    border-radius: 8px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button, .btn-coral {
    background-color: rgba(252, 118, 106, 0.699);
    transition: all .3s;
}
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 8px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.btn-coral:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	text-shadow: 0 0 15px black;
    color: #fff;
    background-color: rgba(61, 5, 0, 0.521);
    border-color: rgb(255, 255, 255, .5);
}

.allauth-form-inner-content a {
	color: #FC766AFF; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 8px;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 8px;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.6rem;
        font-size: 1.5rem;
    }

    .nav-link i.fa-lg {
        font-size: 1.2rem;
    }

    .navbar-toggler {
        padding: .6rem 0;
        font-size: 1.5rem;
        border: none;
        transition: top 0.2s ease-in-out;
        color: #ffffffc7 !important;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded,
    .btn.btn-black.rounded {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded.btn-lg,
    .btn.btn-black.rounded.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }


/* PERSONAL STYLES, QUERIES */

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .hide-items {
        opacity: 1;
        display: inline-block !important;
        transition: opacity 0.3s ease-in-out;
    }

    .list-inline-item {
        display: inline-block !important;
        flex: none;
    }

    .navbar {
        padding: .5rem 0;
    }

    .navbar-expand-lg > li, .navbar-expand-lg > button {
        width: 25%;
    }

    .navbar-expand-lg > li, .navbar-expand-lg > h1 {
        width: 51.5%;
    }
}

@media (max-width: 480px) {
    .footer-content {
        margin: 0 auto 20px;
        text-align: center;
    }
}

/* PERSONAL STYLES */

.btn-black:hover {
    border-color: rgba(255, 255, 255, .5);
}

.rounded {
    border-radius: 8px !important;
}

.text-coral {
    color: #FC766AFF !important;
}

.bg-trans-dark {
    background-color: rgb(57, 102, 128, .4);
}

.bg-grad-trans-dark {
    background-color: linear-gradient(
        black,
        rgba(0, 21, 48, 0.7),
        transparent
    );
}

.bg-nav {
    background-color: transparent;
    transition: background-color 0.4s;
}

.bg-nav:hover {
    background-color: rgb(57, 102, 128, .4);
}

button:focus {
    outline: 1px #FC766AFF auto;
}

nav a, #topnav a {
    text-shadow: 1px 1px 3px rgb(0, 26, 43);
}

.navbar-expand-lg > li, .navbar-expand-lg > h1 {
    width: 51.5%;
}

.bg-trans-blue {
    background-color: rgb(57, 102, 128, .4);
    transition: all, .3s;
}

.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: .5rem;
}

.logo {
    margin-top: 114px;
}

.shoe-icon {
    opacity: .5;
    height: 40px;
    width: 40px;
    filter: invert(1);
    margin: 0 4px 6px;
}

.hide {
    opacity: 0;
    display: none !important;
    transition: opacity 0.3s ease-in-out;
}

.hide-items-2 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    display: block;
}

.hide-2 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: none !important;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
    border-radius: 8px;
}

input.form-control {
    border-radius: 8px;
}

.list-inline-item {
    flex: 1;
    text-align: center;
}

.input-group-append .btn:hover, .input-group-prepend .btn:hover {
    background-color: #FC766AFF;
    border: 1px solid #ffffff82 !important;
}

footer {
    padding-bottom: 15px;
}