<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-orange font-weight-bold" id="modalTitle">Contact</h2>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'contact' %}" class="form mb-2" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                </div>
                <div class="modal-footer row">
                    <div class="col">
                        <button type="button" class="btn-block btn btn-grey" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col">
                        <button class="btn-block btn btn-orange" type="submit">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>