<!-- Mobile heading with navbar -->

<!-- Searchbar -->
<li class="list-inline-item hide-items">
    <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
        </div>
    </a>
    <div class="dropdown-menu w-100 p-3 mobile-search bg-nav my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="input-btn form-control form-control btn btn-trans" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>

<!-- Account nav menu link -->
<li class="list-inline-item hide-items dropdown">
    <a class="nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{% if request.user.is_authenticated %}My Account{% else %}Sign in or sign up{% endif %}">
        <div class="text-center">
            <div><i class="fas fa-user-circle fa-lg"></i></div>
        </div>
    </a>
    <div class="dropdown-menu" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product_brand' %}" class="dropdown-item">Add Brand or Product</a>
                <a href="{% url 'manage_brands' %}" class="dropdown-item">Manage Brands</a>
            {% endif %}
            <a href="{% url 'my_stepup' %}" class="dropdown-item">My StepUp</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
        {% endif %}
    </div>
</li>

<!-- Main logo that replaces icons when scrolling down -->
<a aria-label="Home link" href="{% url 'home' %}">
    <h1 class="logo-font main-logo-link mx-auto my-auto d-lg-none text-shadow text-center hide-2">STEPUP</h1>
</a>

<!-- Cart nav link -->
<li class="list-inline-item">
    <a class="nav-link d-block d-lg-none" href="{% url 'view_cart' %}" title="{% if grand_total %}Your cart grand total is {{ grand_total }}{% else %}Your cart is empty{% endif %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-cart fa-lg"></i>
            </div>
            <small class="my-0 grand-total {% if grand_total %}btn-orange{% else %}btn-trans{% endif %}">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </small>
        </div>
    </a>
</li>