<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav d-md-none w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item ">By Rating</a>
                <a href="#" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Womens Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item">Dress Shoes</a>
                <a href="#" class="dropdown-item">Boots</a>
                <a href="#" class="dropdown-item">Trainers</a>
                <a href="#" class="dropdown-item">Sandals</a>
                <a href="#" class="dropdown-item">Casual</a>
                <a href="#" class="dropdown-item">All Womens</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item">Dress shoes</a>
                <a href="#" class="dropdown-item">Boots</a>
                <a href="#" class="dropdown-item">Trainers</a>
                <a href="#" class="dropdown-item">Casual</a>
                <a href="#" class="dropdown-item">All Mens</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="#" class="dropdown-item">Socks</a>
                <a href="#" class="dropdown-item">Shoe Care</a>
                <a href="#" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">New Arrivals</a>
                <a href="#" class="dropdown-item">On Sale</a>
                <a href="#" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>