<div class="collapse navbar-collapse" id="products-nav">
    <ul class="navbar-nav w-auto mx-auto d-md-none">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item">By Brand</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="brands-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu" aria-labelledby="brands-link">
                {% for brand in all_brands %}
                <a href="{% url 'products' %}?brand={{ brand.name }}" class="dropdown-item">{{ brand.friendly_name }}</a>
                {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-footwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Footwear
            </a>
            <div class="dropdown-menu" aria-labelledby="all-footwear-link">
                <a href="{% url 'products' %}?category=dress_shoes" class="dropdown-item">Dress Shoes</a>
                <a href="{% url 'products' %}?category=boots" class="dropdown-item">Boots</a>
                <a href="{% url 'products' %}?category=sneakers" class="dropdown-item">Sneakers</a>
                <a href="{% url 'products' %}?category=fitness" class="dropdown-item">Fitness</a>
                <a href="{% url 'products' %}?category=sandals" class="dropdown-item">Sandals</a>
                <a href="{% url 'products' %}?category=casual" class="dropdown-item">Casual</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Footwear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="womens-footwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Womens Footwear
            </a>
            <div class="dropdown-menu" aria-labelledby="womens-footwear-link">
                <a href="{% url 'products' %}?gender=w,u&category=dress_shoes" class="dropdown-item">Dress Shoes</a>
                <a href="{% url 'products' %}?gender=w,u&category=boots" class="dropdown-item">Boots</a>
                <a href="{% url 'products' %}?gender=w,u&category=sneakers" class="dropdown-item">Sneakers</a>
                <a href="{% url 'products' %}?gender=w,u&category=fitness" class="dropdown-item">Fitness</a>
                <a href="{% url 'products' %}?gender=w,u&category=sandals" class="dropdown-item">Sandals</a>
                <a href="{% url 'products' %}?gender=w,u&category=casual" class="dropdown-item">Casual</a>
                <a href="{% url 'products' %}?gender=w,u" class="dropdown-item">All Womens</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="mens-footwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens Footwear
            </a>
            <div class="dropdown-menu" aria-labelledby="mens-footwear-link">
                <a href="{% url 'products' %}?gender=m,u&category=dress_shoes" class="dropdown-item">Dress shoes</a>
                <a href="{% url 'products' %}?gender=m,u&category=boots" class="dropdown-item">Boots</a>
                <a href="{% url 'products' %}?gender=m,u&category=sneakers" class="dropdown-item">Sneakers</a>
                <a href="{% url 'products' %}?gender=m,u&category=fitness" class="dropdown-item">Fitness</a>
                <a href="{% url 'products' %}?gender=m,u&category=casual" class="dropdown-item">Casual</a>
                <a href="{% url 'products' %}?gender=m,u" class="dropdown-item">All Mens</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=socks" class="dropdown-item">Socks</a>
                <a href="{% url 'products' %}?category=shoe_care" class="dropdown-item">Shoe Care</a>
                <a href="{% url 'products' %}?category=socks,shoe_care" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?news=true" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?on_sale=true" class="dropdown-item">On Sale</a>
                <a href="{% url 'products' %}?new,sale=true" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>