{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <h2 class="text-orange">{% trans "Password Reset" %}</h2>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please <a class="text-orange font-weight-bold">contact us</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <div class="row">
        <div class="col text-right">
            <a href="{% url 'home' %}" class="btn btn-grey">Go Back Home</a>
        </div>
    </div>
{% endblock %}
