{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

<h2 class="text-orange">{% trans "Change Password" %}</h2>
<form method="POST" action="{% url 'account_change_password' %}" class="password_change text-right">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="row">
        <div class="col-12 col-md-6">
            <button class="btn btn-orange btn-block" type="submit" name="action">{% trans "CHANGE PASSWORD" %}</button>
        </div>
        <div class="col-12 col-md-6">
            {% if not request.path in request.META.HTTP_REFERER %}
                <a href="{{ request.META.HTTP_REFERER }}" class="btn-grey btn btn-block">Back</a>
            {% else %}
                <a href="{% url 'my_stepup' %}" class="btn-grey btn btn-block">To Profile</a>
            {% endif %}
        </div>
    </div>
        </form>
{% endblock %}
