<!-- This file is the mail HTML-file, in which all files have their base.
    Base structure is inspired by the Code Institute Boutique Ado project, but customized a lot.
    It contains the head with all the important links, the header and the footer.
    Only the block content is filled with content from the other pages. -->

{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta tags to improve SEO, with description and search keywords. -->
    <meta name="description" content="StepUp, online shoe retailer, sneaker specialists - shipping worldwide">
    <meta name="keywords" content="stepup, boots, sneakers, clarks, fitness, jordan, nike, shoes, high heels, basketball shoes">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}

    <!-- Stylesheets from Bootstrap, Google Fonts, Font Awesome and my own base.css stylesheet. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abel&family=Alice&family=Average&family=Anaheim&family=Bad+Script&family=Bangers&family=Bungee+Hairline&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Favicon image generated here: https://favicon.io/favicon-converter/ -->
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- JavaScript files from Bootstrap, Google Fonts, Font Awesome and Stripe. -->
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>StepUp | {% block extra_title %}{% endblock %}</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header class="container-fluid fixed-top">
            <!-- Navbar -->
            <div id="topnav" class="row bg-nav pt-lg-2 d-none d-lg-flex">

                <!-- Search bar -->
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100 input-left">
                            <label for="search_products" hidden>Search</label>
                            <input class="form-control" type="text" name="q" placeholder="Search for products" id="search_products">
                            <div class="input-group-append">
                                <button class="input-btn form-control bg-nav btn btn-trans" type="submit" aria-labelledby="search_products" title="Search for products">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Products -->
                <div class="col-12 col-lg-2 my-auto py-1 py-lg-0 text-center">
                    <div class="list-inline-item dropdown">
                        <a href="#" id="products-link" class="nav-link collapsed" data-toggle="collapse" data-target="#products-nav" aria-controls="products-nav" aria-expanded="false" aria-label="Toggle products menu">
                            <div>
                                <i class="fas fa-meteor"></i>
                            </div>
                            <span class="my-0">Products</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-2">
                    <a href="{% url 'home' %}" class="text-center nav-link">
                        <h1 class="mx-auto main-logo-link">StepUp</h1>
                    </a>
                </div>
                <!-- Sign in or Account, depending on whether the user is signed in or not -->
                <div class="col-12 col-lg-2 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center d-flex my-0">
                        <li class="list-inline-item dropdown">
                            <a class="nav-link" href="#" id="account-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{% if request.user.is_authenticated %}My Account{% else %}Sign in or sign up{% endif %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-user-circle"></i>
                                    </div>
                                    <span class="my-0">{% if request.user.is_authenticated %}Account{% else %}Sign In/Up{% endif %}</span>
                                </div>
                            </a>
                            <!-- Account Operations -->
                            <div class="dropdown-menu border-0" aria-labelledby="account-menu">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product_brand' %}" class="dropdown-item">Add Brand or Product</a>
                                        <a href="{% url 'manage_brands' %}" class="dropdown-item">Manage Brands</a>
                                    {% endif %}
                                    <a href="{% url 'my_stepup' %}" class="dropdown-item">My StepUp</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- The SHopping Cart -->
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center d-flex my-0">
                        <li class="list-inline-item">
                            <a class="nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <span class="my-0">
                                        Cart {% if not grand_total %}(€0.00){% endif %}
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- The floating grand total badge -->
                    {% if grand_total %}
                    <a href="{% url 'view_cart' %}" class="ml-auto border-orange btn grand-total" title="{% if grand_total %}Your cart grand total is {{ grand_total }}{% else %}Your cart is empty{% endif %}" aria-label="cart">
                        €{{ grand_total|floatformat:2 }} ({{ product_count }})
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <nav class="navbar bg-nav navbar-expand-lg navbar-dark w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#products-nav" aria-controls="products-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                    <!-- Including the mobile nav and products navigation -->
                        {% include 'includes/mobile-top-header.html' %}
                        {% include 'includes/products-nav.html' %}
                </nav>
            </div>
        </header>

        <!-- Messages displayed to user if generated -->
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        
        <!-- Footer -->
<footer class="font-small mt-auto">
    <div class="container">
      <div class="row mw-lg justify-content-center">
        <div class="col-md-6 my-5 text-md-left footer-content">
            <p>Follow our page to get our best deals
            </p>
            <a href="https://www.facebook.com/stepupshoeseurope/" target="_blank" rel="noopener" class="btn btn-blue pb-2">StepUp shoes on Facebook
                <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-6 my-5 footer-content">
            <div class="row">
                <div class="col-7">
                    <p>Signup for our newsletter</p>
                </div>
                <div class="col ml-auto">
                        <a href="http://eepurl.com/hSCqlb" target="_blank" rel="noopener" title="Mailchimp link"><img class="img-fluid pb-2" src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="Mailchimp logo"></a>
                </div>
            </div>

            <!-- Mailchimp Signup Form - followed tutorial for adapted layout from here: https://bootstrapious.com/p/mailchimp-signup-form -->
            <form action="https://herokuapp.us20.list-manage.com/subscribe/post?u=e5b424993e29ce6be7320595a&amp;id=dcba1d7b60" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="input-group input-left">
                    <input type="email" value="" name="EMAIL" id="mce-EMAIL" required="required" class="form-control" placeholder="Enter your email" aria-labelledby="subscribe">
                    <span class="input-group-append">
                        <button class="btn btn-trans" type="submit" id="subscribe">Subscribe</button>
                    </span>
                </div>
            
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <label for="hidden_input">Hidden Element</label>
                    <input type="text" name="b_e5b424993e29ce6be7320595a_dcba1d7b60" tabindex="-1" value="" id="hidden_input">
                </div>
            </form>
            <!--End mc_embed_signup-->

        </div>
      </div>
    </div>
    <div class="col-12 text-center">
        <!-- Footer links and modals -->
        <p class="mb-0 pb-0">
            <a href="{% url 'contact' %}" class="text-orange font-weight-bold">
                Contact
            </a> | 
            <a href="#" class="text-orange font-weight-bold" data-toggle="modal" data-target="#termsModal">
                Terms of Use
            </a> | 
            <a href="#" class="text-orange font-weight-bold" data-toggle="modal" data-target="#privacyPolicyModal">
                Privacy Policy
            </a>
        </p>
        <p class="pb-2 pb-md-0">
            © 2022 Copyright StepUp Shoes ~ John Venkiah
        </p>
    </div>
</footer>
{% include 'includes/policies/terms_modal.html' %}
{% include 'includes/policies/privacy_policy_modal.html' %}
        {% block postloadjs %}

        <!-- load the base JavaScript file for the site -->
        <script src="{% static 'js/base.js' %}"></script>

        {% endblock %}
    </body>
</html>