{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alice&family=Average&family=Anaheim&family=Bad+Script&family=Bangers&family=Bungee+Hairline&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>StepUp Shoes {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row bg-nav pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                    <form method="GET" action="">
                        <div class="input-group w-100">
                            <input class="form-control" type="text" name="q"
                                placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control bg-nav btn btn-trans" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-2 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="#" class="nav-link">
                        <span class="logo-font text-black my-0">Products</span>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% include 'includes/main-nav.html' %}
                    </div>
                </div>
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-black my-0"><strong>Step</strong> Up</h2>
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center d-flex my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" aria-label="My Account">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="#" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="#" class="dropdown-item">Profile</a>
                                <a href="#" class="dropdown-item">Sign Out</a>
                                {% else %}
                                <a href="#" class="dropdown-item">Sign Up</a>
                                <a href="#" class="dropdown-item">Sign In</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-black nav-link" href="#">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <!-- <p class="my-0">$0.00</p> -->
                                        <!-- 
                                    % if grand_total %
                                        $ grand_total|floatformat:2 
                                    % else %
                                        $0.00
                                    % endif %
                                    -->
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-grad-trans-dark">
                <nav class="navbar navbar-expand-lg d-lg-none navbar-dark w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                </nav>
                <div class="row text-center mx-auto w-100">
                    <div class="col text-white hide-items d-lg-none">
                        <h2 class="logo-font">StepUp <img class="shoe-icon" src="/media/shoe_icon.png"></h2>
                    </div>
                </div>
            </div>
        </header>

        {% if messages %}
        <div class="message-container">
        </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        
        <!-- Footer -->
<footer class="font-small pt-4 mt-md-5">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <!-- Form -->
            <p>Follow us to get our best deals</p>
            <a href="https://www.facebook.com">StepUp shoes on Facebook
                <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
          <!-- Form -->
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <p>Sign up for our weekly deals newsletter</p>
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email address"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-trans my-0" type="button">Sign up</button>
            </div>
          </form>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="text-center">
        <p>© 2021 Copyright John Venkiah</p>
      <a href="https://johnvenkiah.com/">johnvenkiah.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

        {% block postloadjs %}

        <script type="text/javascript">
            $('.toast').toast('show');

            // Hide Header on on scroll down
            var didScroll;
            var lastScrollTop = 0;
            var delta = 5;
            var navbarHeight = $('.navbar').outerHeight();
            
            $(document).ready(function(){
                $(window).scroll(function(event){
                    didScroll = true;
                });

                setInterval(function() {
                    if (didScroll) {
                        hasScrolled();
                        didScroll = false;
                    }
                }, 250);
                function hasScrolled() {
                    var st = $(this).scrollTop();
                    
                    // Make sure they scroll more than delta
                    if(Math.abs(lastScrollTop - st) <= delta)
                        return;
                    
                    // If they scrolled down and are past the navbar, add class .nav-up.
                    // This is necessary so you never see what is "behind" the navbar.
                    if (st > lastScrollTop && st > navbarHeight){
                        // Scroll Down
                        $('.hide-items').addClass('hide').removeClass('hide-items');
                        $('.hide-2').addClass('hide-items-2').removeClass('hide-2');
                        $('#topnav').css({'background-color': 'transparent'})
                    } else {
                        // Scroll Up
                        if(st + $(window).height() < $(document).height()) {
                            $('.hide-items-2').addClass('hide-2').removeClass('hide-items-2');
                            $('.hide').addClass('hide-items').removeClass('hide');
                            $('#topnav').css({'background-color': 'rgb(57, 102, 128, .7)'})
                        }
                    }
                    
                    lastScrollTop = st;
                }
            });
        </script>

        {% endblock %}
    </body>
</html>