{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abel&family=Alice&family=Average&family=Anaheim&family=Bad+Script&family=Bangers&family=Bungee+Hairline&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>StepUp Shoes {% block extra_title %}{% endblock %}</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header class="container-fluid fixed-top">
            <!-- Navbar -->
            <div id="topnav" class="row bg-nav pt-lg-2 d-none d-lg-flex">

                <!-- Search bar -->
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control" type="text" name="q"
                                placeholder="Search for products">
                            <div class="input-group-append">
                                <button class="input-btn form-control bg-nav btn btn-trans" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Products -->
                <div class="col-12 col-lg-2 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <li class="list-inline-item dropdown">
                        <a href="#" id="products-link" class="nav-link collapsed" data-toggle="collapse" data-target="#products-nav" aria-controls="products-nav" aria-expanded="false" aria-label="Toggle products menu">
                            <div>
                                <i class="fas fa-meteor"></i>
                            </div>
                            <span class="my-0">Products</span>
                        </a>
                    </li>
                </div>
                <div class="col-12 col-lg-2">
                    <a href="{% url 'home' %}" class="text-center nav-link main-logo-link">
                        <h1 class="logo-font mx-auto">StepUp</h1>
                    </a>
                </div>
                <div class="col-12 col-lg-2 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center d-flex my-0">
                        <li class="list-inline-item dropdown">
                            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{% if request.user.is_authenticated %}My Account{% else %}Sign in or sign up{% endif %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-user-circle"></i>
                                    </div>
                                    <span class="my-0">{% if request.user.is_authenticated %}Account{% else %}Sign In/Up{% endif %}</span>
                                </div>
                            </a>
                            <!-- Admin Operations -->
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product_brand' %}" class="dropdown-item">Add Brand or Product</a>
                                        <a href="{% url 'manage_brands' %}" class="dropdown-item">Manage Brands</a>
                                    {% endif %}
                                    <a href="{% url 'my_stepup' %}" class="dropdown-item">My StepUp</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                                {% endif %}
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center d-flex my-0">
                        <li class="list-inline-item">
                            <a class="nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <span class="my-0">
                                        Cart {% if not grand_total %}(€0.00){% endif %}
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    {% if grand_total %}
                    <a href="{% url 'view_cart' %}" class="ml-auto btn-orange btn grand-total">
                        €{{ grand_total|floatformat:2 }}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <nav class="navbar bg-nav navbar-expand-lg navbar-dark w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#products-nav" aria-controls="products-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                        {% include 'includes/mobile-top-header.html' %}
                        {% include 'includes/products-nav.html' %}
                </nav>
            </div>
        </header>

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        
        <!-- Footer -->
<footer class="font-small mt-auto">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5 my-5 text-md-left footer-content">
            <p>Follow us to get our best deals
            </p>
            <a href="https://www.facebook.com">StepUp shoes on Facebook
                <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-5 my-5 text-md-right footer-content">
            <p class="text-center">Sign up for our weekly newsletter</p>
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email address"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="input-btn btn btn-sm btn-trans my-0" type="button">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
        <p class="pb-2 pb-md-0">
            © 2021 Copyright John Venkiah | <a href="https://johnvenkiah.com/">johnvenkiah.com</a> | 
            <a href="{% url 'contact' %}" class="text-orange font-weight-bold">
                Contact
            </a>
        </p>
    </div>
</footer>

        {% block postloadjs %}

        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

        {% endblock %}
    </body>
</html>