{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Add Product or Brand{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mw-lg">
            <div class="col mt-3">
                <h2 class="logo-font">Add brand or product</h2>
                <hr>
                <p class="d-md-none">If product brand is not in the list of brands, add it first in the <a href="#add-brand-section" class="text-orange">'Add New Brand'</a> form below.</p>
            </div>
        </div>
        <div class="row mw-lg">
            <p class="col-12 d-none d-md-block">If product brand is not in the list of brands, add it first in the form on the right.</p>
            <div class="col-12 col-md-6">
                <h3 class="h5 text-orange">Add New Product</h3>
                <hr>
                <form method="POST" action="{% url 'add_product_brand' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in product_form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                        {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <hr class="my-4">
                        </div>
                        <div class="col-6">
                            <a class="d-block btn btn-grey" href="{% url 'products' %}">Cancel</a>
                        </div>
                        <div class="col-6">
                            <button class="w-100 btn btn-orange" type="submit">Add Product</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="h5 text-orange mt-5 mt-md-0" id="add-brand-section">Add New Brand</h3>
                <hr>
                <form method="POST" action="{% url 'add_brand' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in brand_form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                        {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <hr class="my-4">
                        </div>
                        <div class="col-6">
                            <a class="d-block btn btn-grey" href="{% url 'products' %}">Cancel</a>
                        </div>
                        <div class="col-6">
                            <button class="w-100 btn btn-orange" type="submit">Add Brand</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'products/includes/wrong_price_modal.html' %}
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super}}
<script src="{% static 'products/js/products_form.js' %}"></script>
{% endblock %}