{% extends "base.html" %}
{% load static %}

{% block extra_title %}Manage Brands{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h2 class="logo-font">Manage Brands</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-12">
                <div class="row mt-1 mb-2 justify-content-between">
                    <div class="col-12 col-md-6 col-lg-3 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-100">
                            <label for="sort-selector-brand" hidden>Sort results</label>
                            <select id="sort-selector-brand" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-white mt-3 text-center text-md-left">
                            {{ brands|length }} Brands
                            <a href="{% url 'add_product_brand' %}" class="float-right float-md-none btn btn-orange front-weight-bold px-3 mx-3" title="Add New Brand" aria-label="Add new brand"><i class="fas fa-plus"></i></a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for brand, form in brand_context %}
                        <div class="col-6 col-md-3 col-lg-2">
                            <div class="card mb-2">
                                <div class="mb-2">
                                    <p class="mb-0 product-title text-orange">{{ brand.friendly_name }}</p>
                                    {% if brand.image %}
                                        <img class="brand-img img-fluid mb-1" src="{{ brand.image.url }}" alt="{{ brand.friendly_name }}">
                                    {% else %}
                                        <div class="brand-img bg-white mb-1 p-2 p-md-0">
                                            <p class="text-center text-dark">
                                                <i class="fas fa-exclamation-circle py-2 py-md-4"></i>
                                                <br>
                                                <small>No Image Available</small>
                                            </p>
                                        </div>
                                        {% endif %}
                                    </a>
                                    <div class="row no-gutters card-footer p-0 border-0">
                                        {% if request.user.is_superuser %}
                                        <div class="col p-1">
                                            <!-- Button triggers the edit product modal -->
                                            <button class="w-100 btn text-orange product-edit-link" data-toggle="modal" data-target="#editBrandModal{{ brand.id }}">
                                                Edit
                                            </button>
                                        </div>
                                        <div class="col p-1">
                                            <!-- Button triggers the delete product modal -->
                                            <button type="button" class="w-100 btn product-edit-link text-danger" data-toggle="modal" data-target="#deleteBrandModal{{ brand.id }}">
                                                Delete
                                            </button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Delete and edit brand modals -->
                            {% include 'products/includes/delete_brand_modal.html' %}
                            {% include 'products/includes/edit_brand_modal.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="btt-button shadow-sm btn-trans">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                </a>	
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'products/js/result_sorting.js' %}"></script>
    <script>
        /**
        * Script so that changes image filename is visible on each brands modal
        * window. As the corresponding functionality on the add/edit product page
        * uses the element id, I gave the elements a new class and loop through
        * each of them to apply the new file name to.
        */
        $(document).ready(function() {
            const brandImges = $('.brand-img-class')
            brandImges.each(function(_, item) {
                const brandImg = "." + item.classList[0]
                $(brandImg).change(function(e) {
                    const {target} = e
                    const {name} = target.files[0]
                    const allFileName = $('.filename-for-brand')
                    allFileName.each(function(_, item) {
                        item.innerHTML =`Set new image to: ${name}`
                    })
                });
            })
        })
        
    </script>
    {{ block.super }}
    
{% endblock %}