<!-- Detail page for each product. Based on the product detail page in the Code Institute
    Boutique Ado project but adapted to fit the site. -->

{% extends 'base.html' %}
{% load static %}

{% block extra_title %}{{ product.brand.friendly_name }} {{ product.category.friendly_name }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 mt-5">
                <h2 class="product-name text-orange">{{ product.name }}
                {% if product.brand %}
                    <!-- Display link to brand differently if on desktop -->
                    {% if not is_mobile %}
                        <small class="float-right text-white small text-uppercase">
                            Check out more from 
                            <a href="{% url 'products' %}?brand={{ product.brand.name }}" class="text-orange">
                                {{ product.brand.friendly_name }}
                            </a>
                        </small>
                    {% endif %}
                </h2>
                {% if is_mobile %}
                <small class="text-white text-uppercase">
                    <!-- Brand link for mobile -->
                    Check out more from 
                    <a href="{% url 'products' %}?brand={{ product.brand.name }}" class="text-orange">
                        {{ product.brand.friendly_name }}
                    </a>
                </small>
            {% endif %}
                <a href="{% url 'products' %}?brand={{ product.brand.name }}">
                    <!-- Display the brand image as a link if there is one -->
                    {% if product.brand.image %}
                    <img class="max-150 float-right" src="{{ product.brand.image.url }}" alt="{{ product.brand.friendly_name }}-logo">
                    {% endif %}
                </a>
                {% endif %}
            </div>

            <!-- Product image -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <!-- Badges if product is on sale or new, bioth together work too -->
                    {% if product.is_new %}
                        <p class="mr-2 mb-2 sale-label text-shadow label-new{% if product.discount %} lower-label{% endif %}">NEW!</p>
                    {% endif %}
                    {% if product.discount %}
                        <p class="mr-2 mb-2 sale-label text-shadow">Save €{{ product.discount }}!</p>
                    {% endif %}
                    <!-- Display product image or empty white div with text of no image -->
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <div class="card-img-top img-fluid bg-white mb-1 py-3">
                            <p class="text-center text-dark py-2">
                                <i class="fas fa-exclamation-circle py-2 py-md-4"></i>
                                <br>
                                <small>No Image Available</small>
                            </p>
                        </div>
                    {% endif %}
                    <p class="pt-2 text-muted">Art-nr: {{ product.art_nr }}</p>
                </div>
                {% if product.details %}
                    <div class="d-none d-md-block">
                        <ul>
                            <!-- Gets the product details and displays them as an unordered list -->
                            {% for d in product.details_as_list %}
                            <li>{{ d|title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <!-- Product details -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <div class="row">
                        <div class="col-6 px-lg-0 text-left">
                            <p class="text-orange lead mb-0">
                                <!-- Original price crossed out of item on sale -->
                                {% if product.initial_price %}
                                    <small><del class="text-muted">€{{ product.initial_price }} </del></small>
                                {% endif %}
                                <span class="font-weight-bold">€{{ product.price }}</span>
                            </p>
                        </div>
                        <div class="col-6 px-lg-0 text-right">
                            <!-- Display the products rating -->
                            {% if product.rating %}
                                <small class="text-orange"><i class="fas fa-star mr-1"></i>{{ product.rating|floatformat:1 }} / 5</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 px-lg-0 text-left align-self-end">
                            <!-- Display the products gender and/or category -->
                            {% if product.gender or product.category %}
                                <p class="small mt-1 mb-0">
                                    {% if product.gender %}
                                        <a class="text-orange" href="{% url 'products' %}?gender={{ product.gender }}">
                                            {{ product.get_gender_display }}
                                        </a> | 
                                    {% endif %}
                                    {% if product.category %}
                                        <a class="text-orange" href="{% url 'products' %}?category={{ product.category.name }}">
                                            {{ product.category.friendly_name }}
                                        </a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-6 px-lg-0 text-right">
                            <!-- Edit and delete buttons for admin users -->
                            {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_product' product.id %}" class="btn text-orange product-edit-link">Edit</a>
                                <!-- Button triggers the delete product modal -->
                                <button type="button" class="btn product-edit-link text-danger" data-toggle="modal" data-target="#deleteProductModal{{ product.id }}">
                                    Delete
                                </button>
                                </small>
                            {% endif %}
                        </div>
                    </div>
                    <p class="mt-3">{{ product.description }}</p>
                    <!-- Product details fit better here if on mobile -->
                    {% if product.details and is_mobile %}
                    <div class="d-md-none my-4">
                        <ul>
                            {% for d in product.details_as_list %}
                            <li>{{ d|title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <!-- If user is logged in and has item in wishlist, this is visible on the button -->
                            {% if request.user.is_authenticated %}
                                {% if product in wishlist %}
                                    <a href="{% url 'remove_from_wishlist' product.id %}" aria-label="Remove product from Wishlist" class="w-100 btn inline btn-grey"><i class="fas fa-heart"></i> Remove from Wishlist</a>
                                {% else %}
                                    <a href="{% url 'add_to_wishlist' product.id %}" aria-label="Add product to Wishlist" class="w-100 btn inline btn-grey"><i class="far fa-heart"></i> Add to Wishlist</a>
                                {% endif %}
                            {% else %}
                            <!-- Prompt the user to sign in if not signed in -->
                                <a href="{% url 'account_login' %}" aria-label="Sign In" class="w-100 btn inline btn-grey"><i class="far fa-heart"></i> Sign In</a>
                                <p class="text-center py-2">to add item to Wishlist.</p>
                            {% endif %}

                        </div>
                    </div>
                    <!-- Product Quantity form, credit: Code Institute, Boutique Ado project -->
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 text-center">
                                <p class="mt-3 text-orange"><strong>Quantity:</strong></p>
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-trans text-white decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}" aria-label="Decrement quantity">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <label for="qty_input" hidden>Quantity</label>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" id="qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-trans text-white increment-qty_{{ product.id }}" data-item_id="{{ product.id }}" aria-label="Increment quantity">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <p class="mt-3 text-orange"><strong>Size:</strong></p>
                                <label for="id_product_size" hidden>Pick size</label>
                                <!-- Displays the relevant size type in the dropdown menu, depending on the product -->
                                <select {% if product.get_sizes.0.0 == 'n_a' %}disabled{% endif %} class="custom-select form-control mx-auto" name="product_size" id='id_product_size'>
                                    {% for s, v in product.get_sizes %}
                                        <option value="{{ s }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="submit" class="w-100 btn btn-orange mt-5" value="Add to Cart">
                            </div>
                            <div class="col-12 col-md-6">
                                <a href="{% url 'products' %}" class="w-100 btn btn-grey mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Browse More</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Reviews section -->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <h3 class="lead text-orange">Product Reviews</h3>
                {% if reviews %}
                    <section class="review-box mb-3">
                        <!-- Loop over the reviews -->
                        {% for review in reviews %}
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-orange">{{ review.title }}</p>
                                </div>
                                <div class="col-6">
                                    <!-- Product rating is updated for each review -->
                                    <p class="text-orange text-right"><i class="fas fa-star"></i> {{ review.product_rating }}/5</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <!-- If user has removed their account, "Account removed" will be displayed instead of the users username -->
                                    <small class="text-muted">{% if not review.user == None %}{{ review.user }}{% else %}Account removed{% endif %} | {{ review.date_created }}</small>
                                </div>
                            </div>
                            <p>{{ review.user_review }}</p>
                            <!-- If user is admin, buttons to remove all reviews are visible. If logged in, users can remove their own.
                            If not logged in, users don't see any delete buttons. -->
                            {% if request.user == review.user or request.user.is_superuser %}
                            <button type="button" class="btn product-edit-link text-danger" data-toggle="modal" data-target="#deleteReviewModal{{ review.id }}">
                                Delete Review
                            </button>
                            {% endif %}
                            <hr>
                            <!-- Modal to confirm review deletion -->
                            {% include 'products/includes/delete_review_modal.html' %}
                        {% endfor %}
                    </section>
                {% else %}
                <!-- If no reviews display this -->
                    <p>No reviews for this product yet.</p>
                    <hr>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                {% if request.user.is_authenticated %}
                <!-- Review form -->
                    <section class="review-form">
                        {% if reviews %}
                        <h3 class="lead text-orange">Review this product</h3>
                        {% else %}
                        <h3 class="lead text-orange">Be the first to review this product</h3>
                        {% endif %}
                        <form method="POST" action="{% url 'product_detail' product.id %}">
                            {% csrf_token %}
                            {{ review_form|crispy }}
                            <button class="w-100 btn btn-orange" type="submit">Post Review</button>
                        </form>
                    </section>
                {% else %}
                    <h4 class="lead">Please <a href="{% url 'account_login' %}" class="font-weight-bold">sign in</a> to post a review.</h4>
                {% endif %}
            </div>
        </div>
        <!-- Delete product modal -->
        {% include 'products/includes/delete_product_modal.html' %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Script to control the quantity of the product added -->
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}